:root {
    --white: #fff;
    --dark: #000;
    --grey: #ccc;
    --green: #459e11;
    --yellow: #b6d859;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html,
  body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  html {
    font-family: "Inter", sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  body {
    font-size: 10px;
    margin: 0;
    font-family: "Crete Round", sans-serif;
  }
  
  #welcome-message {
    font-family: fantasy;
    color: var(--dark);
  }
  
  .main {
    text-align: center;
  }
  
  #welcome-story h1 {
    color: var(--grey);
  }
  
  input {
    width: 60px;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  
  input[type=submit] {
    background-color: var(--white);
    color: var(--dark);
    width: 120px;
  
    margin-top: 100px;
  }
  
  input[type=submit]:hover {
    background-color: var(--green);
    color: var(--white);
  }
  
  .label {
    margin-top: 20px;
  }
  
  #story {
    max-width: 900px;
    margin: auto;
    color: wheat;
    font-size: 22px;
  }
  
  input[type=radio] {
    border: 0px;
    height: 2em;
    color: var(--yellow);
  }
  
  .output {
    font-family: fantasy;
  }
  #learn-more{
    background-color: var(--green);
    color: var(--white);
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
  }
  
  #learn-more:hover{
    background-color: var(--white);
    color: var(--green);
  }